@media (max-width: 330px) {
	
}
.formula {
    margin-bottom: 10%;
    color: #AB2328;
	background-color: white;
}

.card-formula {
    margin-top: 10%;
	background: #e8e8e8;
	text-align: justify;
    vertical-align: middle;
	border: none;
}

.card-representante {
    margin-top: 10%;
	background: #e8e8e8;
	text-align: justify;
    vertical-align: middle;
	border: none;
}
.card-header {
	background-color: white;
	border: none;
}
.card-title {
	background-color: white;
	border: none;
}
.card-block {
    width: 100%;
}
.continuar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.btn-outline-primary {
    border: transparent;
    background-color: #AB2328;
    font-family: 'Nunito-Regular';
    color: white;
    margin-bottom: 40%;
    border-radius: 8px;
    max-width: 200px;    
}


.titulo {
    font-family: 'Nunito-Regular';
    color: #424242;
    margin-left: 3%;
}

.subtitulo {
    font-family: 'Nunito-Regular';
    color: #424242;
    margin-left: 3%;
}

.modh5 {
	font-family: 'Nunito-Regular';
    color: #424242;
}
.modal-body {
	display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
	height: 150px;
}
hr {
    background: linear-gradient(to right, rgb(38, 14, 157), rgb(2, 2, 2));
    box-shadow: 0 1px 5px 1px rgb(117, 114, 117);
    height: 35px;
    border: 0px;
}
/**
  Default Markup
**/

body {
    background: #F0E5E1 ;
}

.row {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dataRepre {
    max-width: 200px;
}

/**
  Component
**/

label {
    width: 100%;
}

h4,h6 {
    color: #424242;
}
.modal-footer {
	border: none;
}
.modal-body {
	border: none;
}
.modal-header {
	border: none;
}
.modal {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
	height: 50%;
}

