<app-navegacion></app-navegacion>
<div class="conteiner-formulas">
    <br>
    <h2 class="titulo display-6">Consejo Estudiantil</h2>
    <h2 class="titulo display-6" style="color:#AB2328;">{{this.noConsejo}}</h2>
    <br>
    <h3 class="titulo display-6">SELECCIONA LA FÓRMULA PARA LA CUAL DESEAS VOTAR</h3>

</div>
        
            <div class="row card-group">
		   
                <div class="col-md-6 col-lg-6 col-sm-6" *ngFor="let formula of formulas">	   	

                    <label>
                        <input type="radio" name="product" class="card-input-element" (click)="continuar(formula.Vfnombre_lista,formula.VfPresidenteFoto,
                        formula.VfPresidenteNombre,formula.VfVicepresidenteFoto,formula.VfVicepresidenteNombre,formula.VfId);" [value]="formula.VfId" ngModel required/>

                         
                    <div class="panel panel-default card-input">
                        
                       <!--  -->
                       <div class="card">
                         <img *ngIf="this.valuId === formula.VfId" class="imagenX" src="../../../assets/imagenes/x.png" alt="imagen x">
                            <div class="card-header" style="background: #e8e8e8; border: none;">
                                <div id="conten-bloque-line-height" style="display: inline-block;">
                                    <div><h4>{{formula.Vfnombre_lista}}</h4></div>

                                </div>

                            </div>
                            <div class="card-block" style="background: #e8e8e8; border: none;">
                                <div class="row">
                                    <div class="col-lg-12 tags p-b-2" style="margin: 3%; background: #e8e8e8">
                                            <img src='{{formula.VfPresidenteFoto}}' class="card-img-top" alt="foto Presidente">
                                    </div>
                                    <!--  -->
                                        <div class="row card card-outline-success m-x-auto" style="background: #e8e8e8; border: none;" *ngIf="formula.Vfnombre_lista !='voto en blanco'">
                                            <div class="text-xs-left" style="border: none;">
                                                <h5 style="color: #AB2328; max-width: 250px;">{{formula.VfPresidenteNombre}}</h5>
                                                <h6>Presidente</h6>
                                            </div>

                                        </div>

                                </div>

                                <div class="row" *ngIf="formula.Vfnombre_lista !='voto en blanco'">
                                    <div class="col-lg-12 tags p-b-2" style="margin: 3%; background: #e8e8e8">
                                            <img src='{{formula.VfVicepresidenteFoto}}' class="card-img-top" alt="foto Presidente">
                                    </div>
                                    <!--  -->
                                        <div class="row card card-outline-success m-x-auto" style="background: #e8e8e8; border: none;">
                                            <div class="text-xs-left" style="border: none;">
                                                <h5 style="color: #AB2328; max-width: 250px;">{{formula.VfVicepresidenteNombre}}</h5>
                                                <h6>VicePresidente</h6>
                                            </div>

                                        </div>

                                </div>
                            </div>

                        </div>


                    </div>

                        </label>

                    </div>


                    </div>
                    <div class="continuar" *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = false">
                        <a class="btn btn-outline-primary btn-danger center-block btnHomeImg" routerLink="representantes" routerLinkActive="router-link-active" style="border-radius:15px;">
                            <h5 style="color: white;">Continuar</h5>
                        </a>
                    </div>
