<app-navegacion></app-navegacion>
<div class="conteiner-represent">
       <!--  <br>
            <div class="image" style="margin-left: 2%;">
                <img src="../../../assets/imagenes/logo.png" alt="logo imagen">
            </div>
        <hr/>
         -->
        <br>
        <h2 class="titulo display-6">Consejo Estudiantil</h2>
        <h2 class="titulo display-6" style="color:#AB2328;">{{this.nomConsejo}}</h2>
        <br> 
        <h3 class="subtitulo display-6">ESTE ES EL RESUMEN DE TU INTENCIÓN DE VOTO</h3>
                
    </div>
            
           <!--  <div class="container col-md-7 col-lg-7 col-sm-7"> -->
          
            <!-- <h1>Radio Buttons as Cards</h1> -->
                        
                <div class="row card-group">
                         
                    <div class="col-md-4 col-lg-6 col-sm-4" style="justify-content: center;">
                              
                        <label>
                            <!--<input type="radio" name="product" class="card-input-element" />
                            
                        
                        <div class="panel panel-default card-input">
                            
                             formula -->
                            <div>
                            <h2 class="formula display-6">FÓRMULA</h2>
                            <br>	
                            </div>
                            
                            <div class="card card-formula">
                                    <div class="card-header" style="background: #e8e8e8; border: none;">
                                        <div id="conten-bloque-line-height" style="display: inline-block;">
                                            <div><h4>{{this.nomFormula}}</h4></div>
                                            <!-- <div id="bloque-line-height" style="width: 10px; height: 10px; background: #AB2328; vertical-align: text-top;"></div> -->
                                        </div>
                                        
                                    </div>
                                    <div class="card-block" style="background: #e8e8e8; border: none;">
                                        <div class="row">
                                            <div class="col-lg-4 tags p-b-2" style="margin: 3%; background: #e8e8e8">
                                                    <img src='{{this.forPresiFoto}}' class="card-img-top" alt="foto Presidente">
                                            </div>
                                            <!--  -->
                                                <div class="row card card-outline-success m-x-auto" style="background: #e8e8e8; border: none;" *ngIf="this.nomFormula !='voto en blanco'">
                                                    <div class="text-xs-left" style="border: none;">
                                                        <h5 style="color: #AB2328; max-width: 250px;">{{this.nomforPresi}}</h5>
                                                        <h6>Presidente</h6>
                                                        <h6>Semestre 7</h6>
                                                        <h6>Quimica</h6>
                                                    </div>
                                                    
                                                </div>
                                                
                                        </div>
                                    </div>
                                    <div class="card-block" style="background: #e8e8e8; border: none;" *ngIf="this.nomFormula !='voto en blanco'">
                                        <div class="row">
                                            <div class="col-lg-4 tags p-b-2" style="margin: 3%; background: #e8e8e8">
                                                    <img src='{{this.forVipreFoto}}' class="card-img-top" alt="foto Presidente">
                                            </div>
                                            <!--  -->
                                                <div class="row card card-outline-success m-x-auto" style="background: #e8e8e8; border: none;">
                                                    <div class="text-xs-left" style="border: none;">
                                                        <h5 style="color: #AB2328; max-width: 250px;">{{this.nomforVipre}}</h5>
                                                        <h6>VicePresidente</h6>
                                                        <h6>Semestre 4</h6>
                                                        <h6>Biología</h6>
                                                    </div>
                                                    
                                                </div>
                                                
                                        </div>
                                    </div>    
                                    
                                </div>

                            <!--</div>-->
                      
                                </label>
                          
                            </div>
                           <!-- Representante -->
                               <div style="align-content: right">
                               	<h2 class="formula display-6">REPRESENTANTE</h2>
                                <br>
                               </div>
                                
                                <div class="card card-representante">
                                    <div class="card-header" style="background: #e8e8e8; border: none;">
                                        <!-- <div id="conten-bloque-line-height" style="display: inline-block;">
                                            
                                            <div id="bloque-line-height" style="width: 20px; height: 20px; background: #AB2328; vertical-align: text-top; float: right;"></div>
                                        </div> -->
                                        
                                    </div>
                                    <div class="card-block" style="background: #e8e8e8; border: none;">
                                        <div class="row">
                                            <div class="col-lg-4 tags p-b-2" style="margin: 3%; background: #e8e8e8">
                                                    <img src='{{this.repreFoto}}' class="card-img-top" alt="foto Presidente">
                                            </div>
                                            
                                                <div class="row card card-outline-success m-x-auto" style="background: #e8e8e8; border: none;">
                                                    <div class="col-lg-9 dataRepre text-xs-left text-justify" style="border: none;">
                                                        <br>
                                                        <h5 style="color: #AB2328">{{this.nomRepre}}</h5>
                                                        <h6>Semestre: {{this.semestRepre}}</h6>
                                                        <h6>{{this.planRepre}}</h6>
                                                    </div>
                                                    
                                                </div>
                                                
                                        </div>
                                    </div>
        
                                    <!--/card-block-->
                                </div>


                            <!-- /2 columns card -->
                         
                        
                        
                        
                        </div>
                        <div class="continuar">
                            <a class="btn btn-outline-primary btn-danger center-block btnHomeImg" routerLink='/votacion/consejo' routerLinkActive="router-link-active" style="margin-right: 2%; border-radius:15px;">
                                <h1 style="color: white;">Borrar</h1>
                            </a>
                            <span> </span>
                            <a class="btn btn-outline-primary btn-danger center-block btnHomeImg" (click)="votar(votoModal);" 
                             routerLinkActive="router-link-active" style="margin-left: 2%; border-radius:15px;">
                                <h1 style="color: white;">Votar</h1>
                            </a>
                        </div>

<ng-template #votoModal let-modal>
    <div class="modal-header">
         <img class="logo" src="../../../assets/imagenes/logo.png" alt="logo imagen">

    </div>
    <div id="bloque-line-height" style="width: 50px; height: 20px;">
   
    </div>
    
    <div class="modal-body">
       <div class="container-fluid">
         <div class="row">
			 <div class="col-md-3"></div>
            <div class="col-md-6">
            <h6 class="modh5">Hemos recibido tu voto.</h6>
            <h6 class="modh5">El ID de tu transacción</h6>
            <h6 class="modh5">es # {{this.idVoto}}</h6>
        </div>
        </div>
        </div>
    </div>

    <div class="modal-footer continuar">
         <a class="btn btn-outline-primary btn-danger center-block btnHomeImg" 
            routerLink='/votacion/consejo' routerLinkActive="router-link-active" style="border-radius:15px;" (click)="modal.close('Close click')">
           <h1 style="color: white; font-size: 12px;">Continuar</h1>
       </a>
    </div>
</ng-template>
