
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/imagenes/logo.png" alt="logo imagen">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <form class="form-inline my-2 my-lg-0">
           <button class="btn btn-outline-success float-right my-2 ,y-sm-0 pull-right" type="button"(click)="logout()">Cerrar Sesión</button>
        </form>
    </div>
  </div>
</nav>
<hr>

