<div class="bg">
        

    <div class="container">
            <div id="title">
                <h1 class="display-3">votacion</h1>
            </div>
            <div class="subtitle">
                <img src="../../../assets/imagenes/fecha.png" alt="OCT 10 / 11">
            </div>
              
              <div class="container-fluid h-100">
                <div class="row justify-content-center justify-content-md-start">
                  <div class="col text-center">
                    <div id="cabeza"></div>

                    <div *ngIf="session" class="row text-center">
                        <div class="col-5"></div>
                        <div class="col-5"></div>
                        <div class="col-1 btnHomeTextSmall" (click)="logout()">Cerrar Sesión</div>
                    </div>
                    
                    <!-- <button class="btn btn-outline-primary btn-danger center-block"> -->
                      
                      <a class="btn btn-outline-primary btn-danger center-block btnHomeImg" [routerLink]="[this.ruta]" (click)="goToBackend('votacion')">
                        <h1>INGRESAR</h1>
                      </a>
                    <!-- </button> -->
                  </div>
                  
                </div>    
    
              </div>
    </div>
    </div>
