/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Nunito-Bold;
    src: url(./assets/fonts/Nunito-Bold.ttf) format("opentype");
}
@font-face {
    font-family: Nunito-Light;
    src: url(./assets/fonts/Nunito-Light.ttf) format("opentype");
}
@font-face {
    font-family: Nunito-Regular;
    src: url(./assets/fonts/Nunito-Regular.ttf) format("opentype");
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bg {
    background-image: url(./assets/imagenes/fondo-web.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
