@media (max-width: 300px) {
    .conteiner-consejos {
        background-color: white;
        height: 30%;
        width: 100%;
        }
    .card-img-top {
        width: 250px;
        height: 250px;
        display: block;
        margin: auto;
        }
    .panel {
        display: block;
        margin: auto;
        text-align: center;
        }
    }
@media (max-width: 575px) and (min-width: 300px){
.conteiner-consejos {
    background-color: white;
    height: 20%;
    width: 100%;
    }
.card-img-top {
    width: 250px;
    height: 250px;
	display: block;
	margin: auto;
    }
.panel {
	display: block;
	margin: auto;
	text-align: center;
	}
}
@media (max-width: 650px) and (min-width: 575px){
.conteiner-consejos {
    background-color: white;
    height: 20%;
    width: 100%;
    }
.card-img-top {
    width: 150px;
    height: 150px;
    }
}

@media (max-width: 800px) and (min-width: 650px){
.conteiner-consejos {
    background-color: white;
    height: 20%;
    width: 100%;
    }
.card-img-top {
    width: 200px;
    height: 200px;
    }
}

@media (min-width: 800px) {
.conteiner-consejos {
    background-color: white;
    height: 10%;
    width: 100%;
}
.card-img-top {
    width: 250px;
    height: 250px;
    }
}


.titulo {
    font-family: 'Nunito-Regular';
    color: #424242;
    left: 5%;
    position: absolute;
}

hr {
    border-color: blue;
    display: block;
    margin-top: 2.5%;
    border-style: inset;
    border-width: 15px;
}

/**
  Default Markup
**/

body {
  background: #F0E5E1 ;
}

.row {
  max-width: 900px;
  margin: 0 auto;
}


/**
  Component
**/

label {
    width: 100%;
}

.card-input-element {
    display: none;
}

.card-input {
    margin: 10px;
    padding: 00px;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
    box-shadow: 0 0 1px 1px #2ecc71;
}

