<app-navegacion></app-navegacion>
<div class="conteiner-consejos">
<!--     <br>
        <div class="image" style="margin-left: 2%;">
            <img src="../../../assets/imagenes/logo.png" alt="logo imagen">
        </div>
    <hr/> 
    <br> -->
    <h3 class="titulo display-6">SELECCIONA EL CONSEJO PARA INICIAR LA VOTACIÓN</h3>
</div>    
        
        <div class="row">
                  
            <div class="col-md-4 col-lg-4 col-sm-4" *ngFor="let consejo of consejos">
                      
                <label>
                    <input type="radio" name="product" class="card-input-element" routerLink="formulas" (click)="serGuarConsejo(consejo.VcId, consejo.VcNombre)"/>
                    
                
                <div class="panel panel-default card-input">
                    <div>
                        <img src='{{consejo.VcFoto}}' class="card-img-top" alt="foto consejo">
                    </div>
                    <div class="panel-heading"><br><h5 style="color: #424242; align-items: center">Consejo Estudiantil</h5></div>
                <div class="panel-body">                                    
                        
                        
                    <h6 style="color: #AB2328">{{consejo.VcNombre}}</h6>
                    <div style="flex: content;">
                        <!-- <div id="bloque-line-height" style="align-self: auto; width: 20px; height: 20px; background: #AB2328; vertical-align: text-top; float: right;"></div> -->
                        <h6 style="align-self: right;">Pendiente de votación</h6>
                    </div>
                    
                </div>
                </div>
              
                    </label>
                      
                </div>
                
                </div>
