<div class="bg">
  <div class="container">
      <div>
          <h1 class="title display-3" style="color: white;">votaciones</h1>
      </div>
            <div class="subtitle">
                <img class="imagenfech" src="../../../assets/imagenes/fecha.png" alt="OCT 10 / 11">
            </div>
              
              <div class="container-fluid h-100">
                <div class="row justify-content-center justify-content-md-start">
                  <div class="col text-center">
                    <div id="cabeza"></div>

                                          
                      <button *ngIf="!hvoto" class="btn btn-outline-primary btn-danger center-block btnHomeImg" (click)="goToBackend('votacion')">
                        <h1 class="tituB" style="color: white;">INGRESAR</h1>
                      </button>
                      <div *ngIf="hvoto" style="width:100%; height:500px">
                      <h3 style="color: white;">{{mensaje}}</h3>
                      </div>
                     
                  </div>
                  
                </div>    
    
              </div>
    </div>
    </div>
